---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import HeroSection from "../components/HeroSection.astro";
import AboutSection from "../components/AboutSection.astro";
import MenuSection from "../components/MenuSection.astro";
import LocationsSection from "../components/LocationsSection.astro";
import Footer from "../components/Footer.astro";
---
<Layout title="Ubaldi Pizza - La autentica experiencia napolitana">
	<Navbar />
	<main class="space-y-0">
		<HeroSection />
		<AboutSection />
		<MenuSection />
		<LocationsSection />
	</main>
	<Footer />
</Layout>
